ul{
    list-style-type: none;
    }

.Rectangle1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(133, 83, 151, 0.34) 0%, rgba(133, 83, 151, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.Rectangle3{
    position: absolute;
    width: 100%;
    height: 200%;
    top: 253px;
    background: #FFFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 0px 0px;
    }

.Rectangle2 {
    position: absolute;
    width: 810px;
    height: 190px;
    left: 335px;
    top: 185px;
    background: #F8F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    }

.MyProfile{
    position: absolute;
    width: 161px;
    height: 153px;
    left: 72px;
    top: 73px;
    font-weight: 900;
    font-size: 40px;
    color: #776C6C;
    }

/*------------------------------------------navigation bar and username-------------------------------------------*/
.Profileimage{
    position: absolute;
    top:-80px;
    left: 40%;
    height: 150px;
    width: 150px;
    border:3px solid #fff;
    background-color: #F8F7F7;
    border-radius: 50%;
    background-image: url(images/image_6483441\ \(4\).JPG);
    background-size: contain;
   }
   
.Username{
    position: absolute;
    width: 176px;
    height: 44px;
    left: 330px;
    top: 72px;
    font-weight: 500;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.53);
    }

.Line1{
    position: absolute;
    width: 805px;
    top: 120px;
    border: 1px solid rgba(0, 0, 0, 0.27);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

.Personalinfo {
    position: absolute;
    width: 137px;
    height: 25px;
    left: 40px;
    top: 135px;
    font-size: 25px;
    color: #000000;
    }

.Favorites {
    position: absolute;
    width: 90px;
    height: 25px;
    left: 230px;
    top: 135px;
    font-size: 25px;
    color: #000000;
    }

.VisitedPlaces{
    position: absolute;
    width: 137px;
    height: 25px;
    left: 420px;
    top: 135px;
    font-size: 24px;
    color: #000000;
    }
    
.Settings {
    position: absolute;
    width: 81px;
    height: 25px;
    left: 620px;
    top: 135px;
    font-size: 25px;
    color: #000000;
    }

/*--------------------------buttons style------------------*/
.button{
    background-color: #f8f7f718;
    display: inline-block;
    height:35px;
    width:150px;
    border-style: none;
    font-size:large;
    }
    
.button:hover{
    background-color: rgba(209, 144, 205, 0.264);
    }

/*-----------------------------visited places-----------------*/
#Square{
    width: 80%;
    margin: 0 auto;
    }
    
#Square .Cover{
    width: 30%;
    margin: 20% 0 2% 2%;
    opacity: 0.5;
    display: inline-block;
    }
    
#Square .Cover:hover{
    opacity: 1;
    }
    
#Square .Cover .inside{
    border-radius: 70px;
    text-align: center;
    background-color:  #f8f7f792;
    height: 250px;
    border:  rgba(176, 40, 167, 0.264) 4px solid;
    }